input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rgb-color-box {
    display: flex;
    justify-content: center;

}

.rgb-color {

    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 40px;
    border:1px solid black;

}

